NEXT_PUBLIC_SITE_URL=https://staging.vtc-truck-hub.de
NEXT_PUBLIC_API_URL=https://staging.vtc-truck-hub.de
NEXT_PUBLIC_SOCKET_URL=https://staging.vtc-truck-hub.de
SESSION_COOKIE_DOMAIN=staging.vtc-truck-hub.de
