POSTGRES_DB=vtc_platform
POSTGRES_TEST_DB=vtc_platform_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD=

# Optional: direkt für backend verwenden
# DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/vtc_platform
# DATABASE_URL_TEST=postgresql://postgres:postgres@127.0.0.1:5432/vtc_platform_test
# REDIS_HOST=127.0.0.1
