POSTGRES_DB=vtc_platform
POSTGRES_TEST_DB=vtc_platform_test
POSTGRES_USER=vtc_platform
POSTGRES_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_DATABASE_PASSWORD
POSTGRES_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_TO_A_DIFFERENT_LONG_RANDOM_REDIS_PASSWORD
